:root {
    --Blue: hsl(246, 80%, 60%);
    --Dark-blue: hsl(224, 46%, 9%);
    --Light-blue: hsl(236, 44%, 20%);
    --Hover_blue: hsl(236, 41%, 34%);
    --Light_orange: hsl(15, 100%, 70%);
    --Soft_blue: hsl(195, 74%, 62%);
    --Light_red: hsl(348, 100%, 68%);
    --Lime_green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft_orange: hsl(43, 84%, 65%);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: #fff;
  }
  body{      
    background-color: var(--Dark-blue);
  }
  main{
    width: 100%;
    max-width: 100vw;
    display: grid;
    place-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-self: center;
  }
  
  a,
  a:active,
  a:hover {
    text-decoration: none;
  }
  .container {
   display: flex;
   padding: 2rem;
   width: 85rem;
   max-width: 95vw;
 
  }

  .container .report-perfil-container {
    width: 300px;
    margin-right: 1.5em;
  }
  .container .report-perfil {
    width: 100%;
    background-color: var(--Blue);
    padding: 1.5em;
    padding-bottom: 5em;
    border-radius: 1em;
    position: relative;
    z-index: 2;
  }
  .container .report-perfil img {
    width: 100px;
    margin-bottom: 2em;
    border-radius: 100%;
    border: solid white 4px;
  }
  .container .time-option {
    background-color: var(--Light-blue);
    padding: 1.5em;
    padding-top: 2.8em;
    padding-left: 1.7em;
    display: flex;
    border-radius: 0 0 1em 1em;
    flex-direction: column;
    transform: translateY(-1em);
    z-index: 1;
  }
  .container .time-option button {
    margin: 0.5em 0;
    background: transparent;
    text-align: left;
    outline: none;
    border: none;
    font-size: 1em;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .container .reports-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    min-width: 900px;
  }
  .report-information {
    background-color: var(--Light-blue);
    padding: 1.5em 2em;
    border-radius: 1em;
    transform: translateY(-0.8em);
    transition: 0.3s ease all;
    cursor: pointer;
  }

  .report-information:hover {
    background-color: var(--Hover_blue);
  }

  .report-information .title {
    display: flex;
    justify-content: space-between;
    width: 100;
    font-size: 1.1em;
  }

  .report-information h2 {
    font-weight: 200;
    font-size: 4em;
    margin: 0.4em 0;
  }
  .portada {
    height: 10px;
    border-radius: 1em 1em 0 0;
     height: 50px;
    border-radius: 1em 1em 0 0;
      
  }
  .work .portada {
    background-image: url("../../images/icon-work.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Light_orange);
  }

  .play .portada {
    background-image: url("../../images/icon-play.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Soft_blue);
  }

  .study .portada {
    background-image: url("../../images/icon-study.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Light_red);
  }

  .exercise .portada {
    background-image: url("../../images/icon-exercise.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Lime_green);
  }

  .social .portada {
    background-image: url("../../images/icon-social.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Violet);
  }

  .self-care .portada {
    background-image: url("../../images/icon-self-care.svg");
    background-position: right;
    background-repeat: no-repeat;

    background-color: var(--Soft_orange);
  }
  .last-time {
    color: hsl(0, 1%, 72%);
  }
  
  .text-muted {
    color: hsl(0, 1%, 72%);
  }
  
  .big-text {
    font-size: 3em;
    font-weight: 100;
  }
  .big-text {
    font-size: 3em;
    font-weight: 100;
  }
  @media (max-width: 1100px) {
    main{
      width: 200rem;
    }
    .container {
      margin: 1rem;
   display: flex;
   padding: 1rem;
   width: 200rem;
   max-width: 95vw;
    }
    .container .report-perfil-container {
      width: 230px;
    }
     
      .work,.play,.exercise,.self-care,.study,.social{
        width: 230px;
        height: 100px;
      }
      .container .reports-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        min-width: 0px;
      }
  }
  @media (max-width: 900px) {
    .container{
      display: block;
    }
    .container .report-perfil{
      padding-bottom: 10px;
      padding: 1em;
    }

    .container .report-perfil-container {
      width: 570px;
      margin-left: 90px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .container .time-option{
      flex-direction: row;
     
    }
    .container .time-option button{
      padding-left: 50px;
    }
    .container .reports-container{
      display: grid;
      margin-left: 90px;
      grid-template-columns: repeat(2,1fr);
  }
  .work,.play,.exercise,.self-care,.study,.social{
    width: 230px;
    height: 250px;
  }
  }
  @media (max-width: 900px){
    .container .report-perfil-container {
      width: 540px;
      margin-left: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .container .reports-container{
      display: grid;
      margin-left: 60px;
      grid-template-columns: repeat(1,1fr);
    }
    .work,.play,.exercise,.self-care,.study,.social{
      width: 500px;
      height: 250px;
    }
  }
  @media (max-width: 500px){
    .container .report-perfil-container {
      width: 290px;
      margin-left: 15px;
      margin-right: 2px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .container .time-option button{
      padding-left: 20px;
    }
    .work,.play,.exercise,.self-care,.study,.social{
      width: 290px;
      height: 250px;
    }
    .container .reports-container{
      display: grid;
      margin-left: 2px;
      margin-right: 2px;
      grid-template-columns: repeat(1,1fr);
    }
    
  }